.HomePage-container {
  margin-top: 0px;
  padding: 120px 0;
  background-image: url(https://wallpaperaccess.com/full/229832.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .HomePage-container {
    padding: 200px 0;
  }
}
